<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_settings" name="Cài đặt" sequence="100"
                  web_icon="lib_management,static/src/img/logo.png"
                  groups="base.group_system,lib_management.group_lib_management"/>
        <menuitem id="menu_sub_lang" name="Ngôn ngữ" parent="menu_settings" action="action_view_lang"
                  sequence="1" groups="base.group_system,lib_management.group_lib_management"/>
        <menuitem id="menu_sub_ke_kho" name="Kệ kho" parent="menu_settings" action="action_view_ke_kho"
                  sequence="2" groups="base.group_system,lib_management.group_lib_management"/>
        <menuitem id="menu_sub_the_loai" name="Thể loại sách" parent="menu_settings" action="action_view_the_loai"
                  sequence="3" groups="base.group_system,lib_management.group_lib_management"/>
        <menuitem id="menu_sub_nhan_vien" name="Nhân viên" parent="menu_settings" action="action_view_nhan_vien"
                  sequence="1" groups="base.group_system,lib_management.group_lib_management"/>
        <menuitem id="menu_sub_phong_ban" name="Phòng ban" parent="menu_settings" action="action_view_phong_ban"
                  sequence="1" groups="base.group_system,lib_management.group_lib_management"/>
        <menuitem id="menu_sub_danh_muc" name="Tủ sách" parent="menu_settings" action="action_view_danh_muc"
                  sequence="1" groups="base.group_system,lib_management.group_lib_management"/>


    </data>
</odoo>
